.posttitle{
    font-family: 'Roboto Mono', monospace;
}

.home-heading {
    font-family: 'Roboto Mono', monospace;
  }
  
.post-desc {
    font-family: 'Roboto Mono', monospace;
    font-style: italic;
}