body{
}

.date{
    font-family: 'Arapey', serif;
    font-weight: bold;
    font-size:18px !important;
}

.postli{
    margin-top:30px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    padding:10px;
}

.postli:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px !important;
    transition:0.3s !important;
}

a {
    text-decoration: none !important;
}


.stylename{
    font-size:30px !important;
    font-weight: bold !important;
}

.stylename:hover{
    color:grey !important;
    transition:0.2s !important;
}

.border-remove {
    border-top:none !important;
}

.posttitle{
    color:black;
    font-weight:bold !important;
}
  
.title-center{
    text-align: center;
}

.home-heading {
    overflow: hidden;
    text-align: center;
    margin-bottom:70px !important;
    margin-top:25px !important;
  }
  
.home-heading:before,
.home-heading:after {
background-color: #000;
content: "";
display: inline-block;
height: 1px;
position: relative;
vertical-align: middle;
width: 50%;
}

.home-heading:before {
right: 2em;
margin-left: -50%;
}

.home-heading:after {
left: 2em;
margin-right: -50%;   
}

.post-desc {
    font-size:20px !important;
    color:black;
}

.posttitle{
    font-family: 'Open Sans', sans-serif;
}

.home-heading {
    
  }
  
.post-desc {
    font-family: 'Titillium Web', sans-serif;
}

.writtenby{
    font-family: 'Tangerine', cursive;
    font-size:30px;
}