---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title title-center home-heading">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
    <div style="text-align: center;margin-bottom: 50px;">
        <img src="{{site.baseurl}}/assets/images/myphoto.jpg" style="text-align: center;width: 40%;">
    </div>
    <h1>Who Is Nicholas?</h1>
    <p>Hi, I am Nicholas. I graduated from Nanyang Polytechnic (NYP) with a Diploma in Information Technology. I have a strong interest for Cybersecurity since young and I enjoy keeping myself fit by going to the gym and playing basketball. </p>
    <h1>How I Started My Journey</h1>
    <p>When I first saw how cool hacking was in movies, I became interested in cybersecurity and wanted to enroll in an IT course so that I could begin my journey. I looked into the Diploma in Information Technology because it covers many aspects of IT and allows me to build a solid foundation in IT before diving into Cybersecurity.<br><br> During my studies at NYP, I excelled in the cybersecurity modules and discovered that I have a talent for cybersecurity. In my final year of studies, I chose Cybersecurity as my specialisation.</p>
    <h1>What Can I Find Here?</h1>
    <p>I create posts on Cybersecurity topics as well as other content that I may find interesting. </p>
    <h1>My Hopes On Creating This Blog</h1>
    <p>Creating this blog site allows me to archive information and knowledge that I have gained throughout my IT journey. I hope that by sharing this information and knowledge, my dear readers will benefit and learn a little bit more about IT and security.</p>
    <h1>Academic Achievements</h1>
    <p><b>Nanyang Polytechnic, Diploma in Information Technology</b></p>
    <p>- Director's List Sem 1 - AY2019/2020<br>
      - Director's List Sem 2 - AY2019/2020<br>
      - Director's List Sem 2 - AY2020/2021<br>
      - Director's List Sem 1 - AY2021/2022<br>
      - Director's List Sem 2 - AY2021/2022<br>
      <br>
      Cumulative Grade Point Average: 3.83
    </p>
      
  </div>

</article>
