---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title title-center home-heading">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
    <div style="text-align: center;margin-bottom: 50px;">
        <img src="../media/myphoto.jpg" style="text-align: center;width: 40%;">
    </div>
    <h1>Who Is Nicholas?</h1>
    <p>Hi, I am Nicholas. I graduated from Nanyang Polytechnic (NYP) with a Diploma in Information Technology. I have a strong interest for Cybersecurity since young and I enjoy keeping myself fit by going to the gym and playing basketball. </p>
    <h1>My Story</h1>
    <p>I started growing interest in Cybersecurity when I first saw how cool hacking was in the movies. Looking at how cool hacking was, I wanted to be in an IT course so that I could kickstart my journey. I looked into Diploma in Information Technology as the course cover many aspects of the IT and is able to build my foundation on IT before jumping into Cybersecurity.<br><br> During my studies in NYP, I scored extremely well for the cybersecurity modules and realised that I have a talent for Cybersecurity. On the final year of my studies, I chose Cybersecurity as my specialisation.</p>
    <h1>What Can I Find Here?</h1>
    <p>I create posts on Cybersecurity topics as well as other content that I may find interesting. </p>
    <h1>My Hopes On Creating This Blog</h1>
    <p>Creating this blog allows me to archive information and knowledge that I have gained throughout my IT journey. Having these information posted on my blog, I also wish for my dear readers to understand alittle bit more about IT and security.</p>
  </div>

</article>
